<%= form_for(@flight) do |f| %>
  <% if @flight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@flight.errors.count, "error") %> prohibited this flight from being saved:</h2>

      <ul>
      <% @flight.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :one %><br>
    <%= f.text_area :one %>
  </div>
  <div class="field">
    <%= f.label :two %><br>
    <%= f.text_area :two %>
  </div>
  <div class="field">
    <%= f.label :three %><br>
    <%= f.text_area :three %>
  </div>
  <div class="field">
    <%= f.label :four %><br>
    <%= f.text_area :four %>
  </div>
  <div class="field">
    <%= f.label :five %><br>
    <%= f.text_area :five %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
