<p id="notice"><%= notice %></p>

<p>
  <strong>One:</strong>
  <%= @flight.one %>
</p>

<p>
  <strong>Two:</strong>
  <%= @flight.two %>
</p>

<p>
  <strong>Three:</strong>
  <%= @flight.three %>
</p>

<p>
  <strong>Four:</strong>
  <%= @flight.four %>
</p>

<p>
  <strong>Five:</strong>
  <%= @flight.five %>
</p>


