<p id="notice"><%= notice %></p>

<p>
  <strong>Session:</strong>
  <%= @survey_datum.session %>
</p>

<p>
  <strong>Question:</strong>
  <%= @survey_datum.question %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @survey_datum.answer %>
</p>

<%= link_to 'Edit', edit_survey_datum_path(@survey_datum) %> |
<%= link_to 'Back', survey_data_path %>
